
@model AdminCreateViewModel
@inject IStudentRepository _students
@{
    ViewBag.Title = "登录";
    Layout = null;
}

<link href="~/css/style.css" rel="stylesheet" />

<body>
    <h1>修改登录密码</h1>
    <div class="app-block">
        <div class="cube">
            <img src="img/cube.png" class="img-responsive" alt="" />
        </div>
        <form asp-controller="home" asp-action="ChangeAdmin">
            <input asp-for="AdminID" type="text" class="text" value="账号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '登录';}">
            <input asp-for="Password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}">
            <input asp-for="PasswordTwo" value="确认密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '确认密码';}">
            @if (ViewBag.Title == "true")
            {
                <div>原账号或密码错误</div>
            }
            <div class="submit">
                <input type="submit" onclick="myFunction()" value="提交">
            </div>
            <div class="clear"></div>
            <p><a asp-controller="home" asp-action="Index">返回详细信息页</a></p>
        </form>
    </div><!--start-copyright-->
    <div class="copy-right">
        <p>Copyright &copy; 2019  All rights  Reserved | Template by &nbsp;<a href="http://www.bootstrapmb.com/" title="bootstrapmb">bootstrapmb</a></p>
    </div><!--//end-copyright-->
</body>

